html
{
	scroll-behavior: smooth;
	font-family: Helvetica, sans-serif,Arial;

}

body
{
	margin: 0;
}

.chat-bar-collapsible
{
	background-color: white;
}

.outer-container
{
	background-color: white;
}

